<div class="header">
    <div class="container">
        <div class="header-row">
            <a class="header-logo" href="/">
                <img class="header-logo-image" src="../../assets/img/logo.svg" alt="Advance" />
            </a>
            <ul class="header-menu">
                <li class="header-menu-item">
                    <a href="about.html" class="header-menu-link">О нас</a>
                </li>
                <li class="header-menu-item">
                    <a href="portfolio.html" class="header-menu-link">Портфолио</a>
                </li>
                <li class="header-menu-item">
                    <a href="contacts.html" class="header-menu-link">Контакты</a>
                </li>
            </ul>
            <button class="header-menu-button header-menu-button--desktop" type="button">Заказать</button>
            <button class="header-menu-button header-menu-button--mobile" type="button">Начать проект</button>
        </div>
    </div>
</div>
